autostart
.gsd-keyboard.settings-ported
Code
Cursor
dconf
discord
Electron
glib-2.0
gedit
gtk-3.0
gtk-4.0
kde.org
Kvantum
mako
matplotlib
micro
pulse
qt5ct
qt6ct
session
stacer
swaylock
LM Studio
thorium
Thunar
Unknown Organization
Void
waybar
wlogout
wofi
xfce4
yay
.dmenurc
baloofileinformationrc
dolphinrc
knfsshare
partitionmanagerrc
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
btop/btop.log
enchant
environment.d
evolution
gh
ibus
libreoffice
mimeapps.list
systemd
yelp
